<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>StartDial Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.filippobiga.startdialpref</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.filippobiga.startdial.prefChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>intStartView</string>
			<key>label</key>
			<string>Start with</string>
			<key>validTitles</key>
			<array>
				<string>Keypad</string>
				<string>Favorites</string>
				<string>Contacts</string>
				<string>Recents</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>defaults</key>
			<string>com.filippobiga.startdialpref</string>
			<key>PostNotification</key>
			<string>com.filippobiga.startdial.prefChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You can select the view to start with every time the Phone application is launched.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2011 FilippoBiga</string>
		</dict>
	</array>
	<key>title</key>
	<string>StartDial</string>
</dict>
</plist>
