Package: com.filippobiga.tweetbotrotator
Name: TweetbotRotator
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: brings Landscape support to Tweetbot 
Maintainer: FilippoBiga
Author: FilippoBiga
Section: Tweaks
